
.stylist_info {
    font-size: 14px;
    h1 {
      font-family: "Noto Sans TC";
      span {
        font-size: 14px;
      }
    }
    li {
      background-color: $gray-200;
    }
  }
  .stylist_info_photo img {
    width: 100%;
  }
  
  .stylist_review {
    img {
      max-width: 48px;
      max-height: 48px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
    time {
      font-size: 14px;
    }
    li {
      font-family: "Noto Sans TC";
      border: 1px solid #212121;
      padding: 24px 24px 81px 24px;
    }
  }