<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>緊身胸衣腰帶</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="ms-lg-7 ms-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fs-lg-7 fs-8">
              <li class="breadcrumb-item text-gray"><a href="index.html">首頁</a></li>
              <li class="breadcrumb-item text-gray"><a href="#">New In</a></li>
              <li class="breadcrumb-item text-gray"><a href="shop.html">秋冬24女裝系列</a></li>
              <li class="breadcrumb-item active" aria-current="page">緊身胸衣腰帶 - 深邃黑</li>
            </ol>
        </nav>
    </div>

    <section>
        <div class="container-fluid mb-lg-14 mb-12">
            <div class="row">
                
                <div class="col-7 d-lg-block d-none">
                    <div class="row g-1">
                        <div class="col-6">
                            <img class="w-100" src="https://s3-alpha-sig.figma.com/img/0dcc/3a1a/54b6fac60f4986d11bb8879de1e611c6?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HfXzqRYtjf6GTTNLu6lWol5BhiqMyLB27O3b~aMBExvJx9x1q1DQoSJJQzMaczwogJb4R0YvJJWX7TIZpjJEboi2fg4A0k4shExlk9KCVkln8jBIZomSlDfdoGRFQrtSFuYpd2MZ1p~sNABoHe-nW158xcP0E0E1BIGv5uT7-9AXD4XebHjRx3HgJ4KZ9~HXuDuCneJEoIMfDjjRRpm-36lEp8buesTma4r1qiGUtvp5CHxPH55gL8UD7utVnNmTf3~OYo6mYFjm2rAVrg9WKkf51gokJm1WoiIF20~K75WseCcFNyQ9aUBzBI7z1n5qMOQWQORPSbRjWGcHrZkoTQ__" alt="...">
                        </div>
                        <div class="col-6">
                            <img class="w-100" src="https://s3-alpha-sig.figma.com/img/6b16/ecaf/0f2f5134686354db0df8bed5674dffcc?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=deOfdsXbVHvA0GIvxpaylV8I-q2gZPtHZXGkzqGjydqPdnT5ysHDEhLkeCCVQXTPvp4IAKTOWJtXSUgD07ByASycRiWnrfaZY7fbp5OkydYcUibUHbW1-uX8SY0gHM0R0TAUBj1t0c7aNfib7AKLg4NfAnOvmvvPuGC4sQxGGD495bS7zIyUq~Re-QyHqknjkyu9xHTHtIUxY~J8n~JYm9lxcHK3-FrQPnIVhpQ1paPRpCkEulETnihr0wwPcjDmRpqoI7wMUQ8Pn1lJJfMRfvBgLknr3tKaW08noWjL0ZLjJL-BdqzjUkSPd6GW0zKaMFXBe5xuCsi-aa4yFg66lQ__" alt="...">
                        </div>
                        <div class="col-6">
                            <img class="w-100" src="https://s3-alpha-sig.figma.com/img/50e3/4277/e33f8f21e97f14474a25a11764e154a1?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GPgRNZU0NtkRgbrT3KUHXel0LW8GJ-raFVpq9UKmgd5EwdYj0vQTzulW1~FXrNu1DhuOzWDpOZE9hns-XsKusJ68RLY9Jled5gU5w2Rfrxh2VEWCT5vAjlbps5JQsfRD-RJ3b92Nel0R5-3r9ySa9xJQUC5IbKpygJPZU4dtKdIUdAoNRi1Wpy5knnQgAwqvz8t5h9OGmcdShvgYGe3ao4pAYhNh9ia~oqb-DK4WxUA3Fmlp1YBTAnEjKBHSSfk~KY6pvpqW4PHwbve0StZa5QY0Z~01qkRpvc6y8hmgWyJfIQWjqXf4hyapzonC9j5gMEVpuTvmcHnrFOmq0jjKaA__" alt="...">
                        </div>
                        <div class="col-6">
                            <img class="w-100" src="https://s3-alpha-sig.figma.com/img/e15c/f5da/6b7612c377191aa546c985a52a88beb7?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=j13Xcdri21cm0NoH2GnEiZeqFiFXizFeC6Er6MD7foZ1DUm--PYEJaoQB6KNNYyjkoatvx0-GB0nuP6U5D1zeWagi6qp0zpkbQjG~G9MNfou5ckam0AOpSGCUuzWo0tZshKVKPiDHCk5WXEGHS9OlhN7i~7Punpq~AfPpHVv4IBmRDhxCNpj9JhD~gKhw9srGyJpxIZSOHhVbzDJYvIWrIiKGOYlnNaJysXx1B8QlkDcMxP5SoVeQvhEHVjlHIp-ZH8aRNnVy5goK1TCImo8VtQpoJJyOKvnVmZFz2u5whixAP74eU3GRg2Ddnpnnv9QmYN4e9sC-PI2r-OWC7tE1A__" alt="...">
                        </div>
                        <div class="col-6">
                            <img class="w-100" src="https://s3-alpha-sig.figma.com/img/6c85/bf74/f5a4241f92e39b03d2d12580c9cfaeda?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HFFaYmFNLP9wICGLHDLjCWM7DIQUyfwqcWKEQp1fOuinTUL7jdtLAwO-Vx5D~lEbjPnfgqxLkd0xLISnwQxc5-aDIKoqXYivP4LT3hCOrCVJjNQgt7GIlSfcRFm3EXc9Sw8kOnS1MKOyJ60ta9Dqo-kkMyVYFO-~Bo4ToAKstSW~20R9g~X5zlZeTFMHgGm4Xvycv1DRi881PGjVP0EzZqtPqjbQT1qB8bAAo-tNYrOuY~QGyJ3dvU6JhxJaUKlhfEVzPfzzQlSfz5tA16fDxPjJKsFnF5ZRBNSZdxyehURsEovST6Ull-ozmCqIX4LmKgSltE9L~PMKQIxe-icyfQ__" alt="...">
                        </div>
                        <div class="col-6">
                            <img class="w-100" src="https://s3-alpha-sig.figma.com/img/b03c/7bf9/6bc245d43b21bf47f489910b6371afb4?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kWTiXPgE~aI7lkDZdpMkMu-HMKsI6DEaIMw5b2VXUWwpYSYM0y1ldJqeZhaAKiiySeuEIBXxFlowBuHP7CRoX9J8fG3oL86spkGL8rvB57CpINRxww0LfYIGZ4ws9ZcfKC2EdxexV09hbDQMBEwZLx~NfXcquLLCgD968kDcSzBZFiP06J8bFCYJEReRoSn5YUEbm6eZG9DSfXbsh-B0031E5z7lqBZjc1U9saTk6FmcDf-ge~gJZk1Cf~tNwCqZKtMtgCHL84STLKSmJBMhAB6OQ-SF4zkRNRJVQcjqZpCZpFoJMGAv7rUDhrqEYEw7LsVZpOqJVo7b-QE5~9VSAA__" alt="...">
                        </div>
                    </div>
                </div>

                <div class="col-12 d-block d-lg-none">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://s3-alpha-sig.figma.com/img/0dcc/3a1a/54b6fac60f4986d11bb8879de1e611c6?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HfXzqRYtjf6GTTNLu6lWol5BhiqMyLB27O3b~aMBExvJx9x1q1DQoSJJQzMaczwogJb4R0YvJJWX7TIZpjJEboi2fg4A0k4shExlk9KCVkln8jBIZomSlDfdoGRFQrtSFuYpd2MZ1p~sNABoHe-nW158xcP0E0E1BIGv5uT7-9AXD4XebHjRx3HgJ4KZ9~HXuDuCneJEoIMfDjjRRpm-36lEp8buesTma4r1qiGUtvp5CHxPH55gL8UD7utVnNmTf3~OYo6mYFjm2rAVrg9WKkf51gokJm1WoiIF20~K75WseCcFNyQ9aUBzBI7z1n5qMOQWQORPSbRjWGcHrZkoTQ__" width="375" height="514" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://s3-alpha-sig.figma.com/img/6b16/ecaf/0f2f5134686354db0df8bed5674dffcc?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=deOfdsXbVHvA0GIvxpaylV8I-q2gZPtHZXGkzqGjydqPdnT5ysHDEhLkeCCVQXTPvp4IAKTOWJtXSUgD07ByASycRiWnrfaZY7fbp5OkydYcUibUHbW1-uX8SY0gHM0R0TAUBj1t0c7aNfib7AKLg4NfAnOvmvvPuGC4sQxGGD495bS7zIyUq~Re-QyHqknjkyu9xHTHtIUxY~J8n~JYm9lxcHK3-FrQPnIVhpQ1paPRpCkEulETnihr0wwPcjDmRpqoI7wMUQ8Pn1lJJfMRfvBgLknr3tKaW08noWjL0ZLjJL-BdqzjUkSPd6GW0zKaMFXBe5xuCsi-aa4yFg66lQ__" width="375" height="514" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://s3-alpha-sig.figma.com/img/50e3/4277/e33f8f21e97f14474a25a11764e154a1?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GPgRNZU0NtkRgbrT3KUHXel0LW8GJ-raFVpq9UKmgd5EwdYj0vQTzulW1~FXrNu1DhuOzWDpOZE9hns-XsKusJ68RLY9Jled5gU5w2Rfrxh2VEWCT5vAjlbps5JQsfRD-RJ3b92Nel0R5-3r9ySa9xJQUC5IbKpygJPZU4dtKdIUdAoNRi1Wpy5knnQgAwqvz8t5h9OGmcdShvgYGe3ao4pAYhNh9ia~oqb-DK4WxUA3Fmlp1YBTAnEjKBHSSfk~KY6pvpqW4PHwbve0StZa5QY0Z~01qkRpvc6y8hmgWyJfIQWjqXf4hyapzonC9j5gMEVpuTvmcHnrFOmq0jjKaA__" width="375" height="514" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://s3-alpha-sig.figma.com/img/e15c/f5da/6b7612c377191aa546c985a52a88beb7?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=j13Xcdri21cm0NoH2GnEiZeqFiFXizFeC6Er6MD7foZ1DUm--PYEJaoQB6KNNYyjkoatvx0-GB0nuP6U5D1zeWagi6qp0zpkbQjG~G9MNfou5ckam0AOpSGCUuzWo0tZshKVKPiDHCk5WXEGHS9OlhN7i~7Punpq~AfPpHVv4IBmRDhxCNpj9JhD~gKhw9srGyJpxIZSOHhVbzDJYvIWrIiKGOYlnNaJysXx1B8QlkDcMxP5SoVeQvhEHVjlHIp-ZH8aRNnVy5goK1TCImo8VtQpoJJyOKvnVmZFz2u5whixAP74eU3GRg2Ddnpnnv9QmYN4e9sC-PI2r-OWC7tE1A__" width="375" height="514" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://s3-alpha-sig.figma.com/img/6c85/bf74/f5a4241f92e39b03d2d12580c9cfaeda?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HFFaYmFNLP9wICGLHDLjCWM7DIQUyfwqcWKEQp1fOuinTUL7jdtLAwO-Vx5D~lEbjPnfgqxLkd0xLISnwQxc5-aDIKoqXYivP4LT3hCOrCVJjNQgt7GIlSfcRFm3EXc9Sw8kOnS1MKOyJ60ta9Dqo-kkMyVYFO-~Bo4ToAKstSW~20R9g~X5zlZeTFMHgGm4Xvycv1DRi881PGjVP0EzZqtPqjbQT1qB8bAAo-tNYrOuY~QGyJ3dvU6JhxJaUKlhfEVzPfzzQlSfz5tA16fDxPjJKsFnF5ZRBNSZdxyehURsEovST6Ull-ozmCqIX4LmKgSltE9L~PMKQIxe-icyfQ__" width="375" height="514" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://s3-alpha-sig.figma.com/img/b03c/7bf9/6bc245d43b21bf47f489910b6371afb4?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kWTiXPgE~aI7lkDZdpMkMu-HMKsI6DEaIMw5b2VXUWwpYSYM0y1ldJqeZhaAKiiySeuEIBXxFlowBuHP7CRoX9J8fG3oL86spkGL8rvB57CpINRxww0LfYIGZ4ws9ZcfKC2EdxexV09hbDQMBEwZLx~NfXcquLLCgD968kDcSzBZFiP06J8bFCYJEReRoSn5YUEbm6eZG9DSfXbsh-B0031E5z7lqBZjc1U9saTk6FmcDf-ge~gJZk1Cf~tNwCqZKtMtgCHL84STLKSmJBMhAB6OQ-SF4zkRNRJVQcjqZpCZpFoJMGAv7rUDhrqEYEw7LsVZpOqJVo7b-QE5~9VSAA__" width="375" height="514" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                          <i class="bi bi-chevron-left text-primary fs-5"></i>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <i class="bi bi-chevron-right text-primary fs-5"></i>

                        </button>
                      </div>
                </div>

                <div class="col-lg-5 col-12 mt-6 mt-lg-0">
                    <div class="mb-7">
                        <h2 class="fs-6 mb-6">緊身胸衣腰帶 - 深邃黑</h2>
                        <p class="fs-7 mb-3">PRITCH的招牌配飾。此款腰帶在意大利手工製成,使用兩片精品納帕牛皮構成,並透過兩條長皮帶環繞腰部。靈活多變,無論想如何造型都隨心所欲。此商品為單一尺寸,可自由調節大小。</p>
                        <span>$10,979</span>
                    </div>
                    <div>
                        <div class="mb-7">
                            <p class="fs-7 mb-3">顏色</p>
                            <div class="bg-dark" style="height: 24px; width: 24px;"></div>
                        </div>
                        <label class="fs-7" for="size">尺寸</label>
                        <div class="d-flex mb-7">
                            <div class="position-relative">
                                <select class=" size py-2 px-4 me-3" style="width: 164px;">
                                    <option selected>單一尺寸</option>
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                  </select>
                                  <div class="triangle"></div>
                            </div>
                              
                    
                            <span class="size-amount position-relative py-2 px-4 text-center border border-primary" style="width: 164px;" id="productAmount"><span class="digit">1</span>
                                <i class="position-absolute bi bi-plus-lg translate-middle-y"></i>
                                <i class="position-absolute bi bi-dash-lg translate-middle-y"></i>
                            </span>
                        </div>
                        <btn class="btn btn-primary w-100">加入購物車</btn>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button accordion-btn-delete bg-transparent border-primary border-1 border-bottom outline-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                商品細節
                                <i class="bi bi-plus-lg ms-auto toggle-icon"></i>
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element.
                            </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button accordion-btn-delete  collapsed bg-transparent border-primary border-1 border-bottom outline-0 rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                配送須知
                                <i class="bi bi-plus-lg ms-auto toggle-icon"></i>
                            </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
                            </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button accordion-btn-delete collapsed bg-transparent border-primary border-1 border-bottom outline-0 rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                聯絡我們
                                <i class="bi bi-plus-lg ms-auto toggle-icon"></i>
                            </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>電話：+886 2 2256 1234</li>
                                    <li>郵件：info@pritch.com</li>
                                    <li>請參閱<a href="#"><u>聯絡我們</u></a>了解更多</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                          
                    
                </div>
            </div>
        </div>
    </section>

    <section>
        <p class="fs-5 ms-lg-7 ms-3 mb-4">你可能會喜歡...</p>
        <div class="container-fluid">
            <div class="row row-cols-lg-5 row-cols-2 gy-lg-12 gy-10 gx-lg-1 gx-0 mb-lg-10 mb-6" id="shopProductCard" data-times="2"></div>
        </div>
    </section>


    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>