<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pritch</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>


    <section class="banner position-relative">
      <div class="banner-img">
        <img width="1920" height="980" src="../assets/images/index-banner.jpeg" alt="">
      </div>

      <div class="banner-txt position-absolute text-center">
        <p class="fs-lg-1 fs-5 text-white">品味，由你定義</p>
        <p class="mb-4 fs-lg-1 fs-5 text-white">2024 NEW IN</p>
        <div class="text-center">
          <a href="shop.html" class="btn btn-primary btn-sm">探索新品</a>
        </div>
      </div>
    </section>

    <section class="recommendation my-lg-14 my-12">
      <div class="container">
        <div class="text-center mb-7">
          <h3 class="fs-4">Featured presentation</h3>
          <h3 class="fs-5">精選推薦</h3>
        </div>

        <div class="row row-cols-2 gx-lg-4 gx-0">
          <div class="col">
            <div class="mb-6">
              <img src="../assets/images/jumpsuit.png" width="636" height="871" alt="...">
            </div>
            <div class="d-lg-flex d-block justify-content-between text-center text-lg-start">
              <div class="mb-lg-0 mb-4">
                <h2 class="fs-6 mb-2">黑色流蘇連身褲</h2>
                <p class="mb-2">頂級納帕皮革手工製作</p>
                <p class="mb-2">手工流蘇反射光影</p>
                <p>展現動感之美</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">探索新品</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-6">
              <img src="../assets/images/coat.png" width="636" height="871" alt="...">
            </div>
            <div class="d-lg-flex d-block justify-content-between text-center text-lg-start">
              <div class="mb-lg-0 mb-4">
                <h2 class="fs-6 mb-2">紅色復古飾面外套</h2>
                <p class="mb-2">紅色復古飾面外套</p>
                <p class="mb-2">重新詮釋文藝復興的奢華</p>
                <p>將經典雙排釦剪裁與當代設計相結合</p>
              </div>
              <div>
                <a href="#" class="btn btn-gray">探索新品</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>


    <main class="popular mx-lg-7 mx-0 overflow-x-hidden">
    <div class="d-lg-flex d-block justify-content-between text-center align-items-center mb-lg-7 mb-4">
      <div>
        <h3 class="mb-2 fs-4">Popular</h3>
        <h3 class="fs-5">熱門列表</h3>
      </div>
      <div class="d-none d-lg-block">
        <a href="#">探索更多</a>
      </div>
    </div>    

    <div class="position-relative d-lg-block d-none">
      <ul class="list-unstyled popular-ul d-flex" id="popularUl">
      </ul> 
      <i class="popular-arrow-l bi bi-chevron-left position-absolute"></i>
      <i class="popular-arrow-r bi bi-chevron-right position-absolute"></i>
    </div>

    <div class="d-block d-lg-none">
      <div class="container-fluid px-0">
        <div class="row-cols-2 row gx-0 gy-10" id="popularMbItem">
        </div>
      </div>

      <div class="text-center mt-4">
        <a href="#" class="btn btn-primary">探索更多</a>
      </div>

    </div>


    </main>

    <section class="feature my-lg-14 my-12">
      <div class="text-center">
        <h2 class="fs-4">Craftsmanship</h2>
        <h2 class="fs-5">精湛工藝</h2>
      </div>
      <div class="container-fluid mt-7">
        <div class="row-cols-lg-3 row-cols-1 row">
          <div class="col position-relative ">
            <div class="feature-shadow">
              <div>
                <img class="w-100" width="592" height="592" src="../assets/images/craftsmanship-1.jpeg" alt="...">
              </div>
              <div class="feature-txt position-absolute">
                <h3 class="fs-5 text-center ">精細製作</h3>
                <p class="text-white">專業工匠根據獨特設計圖紙進行精確剪裁，確保每個細節完美對齊。使用傳統裁縫技術，精心縫合每一個接縫，確保服裝結構穩定且耐用。</p>
              </div>
            </div>
          </div>
          <div class="col position-relative ">
            <div class="feature-shadow">
              <div>
                <img class="w-100" width="592" height="592" src="../assets/images/craftsmanship-2.png" alt="...">
              </div>
              <div class="feature-txt position-absolute">
                <h3 class="fs-5 text-center ">設計獨特</h3>
                <p class="text-white">不僅是時尚的象徵，更是設計創意與工藝技術的完美結合，讓每一件作品都成為獨一無二的藝術品。</p>
              </div>
            </div>
          </div>
          <div class="col position-relative ">
            <div class="feature-shadow">
              <div>
                <img class="w-100" width="592" height="592" src="../assets/images/craftsmanship-2.png" alt="...">
              </div>
              <div class="feature-txt position-absolute">
                <h3 class="fs-5 text-center ">專屬訂製</h3>
                <p class="text-white">為送禮者提供專屬的定制服務，如根據對方的喜好和需求，製作獨特的服飾或配件，彰顯送禮的真誠與用心。</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="stylist mb-12">
      <div class="container">
        <div class="text-center mb-3 mb-lg-7">
          <h2 class="fs-4">Stylist</h2>
          <h2 class="fs-5">造型師</h2>
        </div>
        <div class="row row-cols-lg-4 row-cols-1 g-0" id="stylistCard" ></div>
      </div>
    </section>

    




    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
