<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <section class="login">
        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <form class="row border">
                            <h2 class="col-12 text-center">MY PRITCH ACCOUNT</h2>
                            <div class="col-md-12">
                                <label for="inputEmail4" class="form-label"></label>
                                <input type="email" class="form-control" id="inputEmail4" required placeholder="Email *">
                            </div>
                            <div class="col-md-12">
                            <label for="inputPassword4" class="form-label"></label>
                            <input type="password" class="form-control" id="inputPassword4" required placeholder="Password *">
                            </div>
                            <div class="col-12">
                            <button type="submit" class="w-100 btn btn-primary">登入</button>
                            </div>

                            <div class="col text-center">
                                <p>
                                    <small>使用您的電子郵件地址註冊 <br>已經是會員？使用您的電子郵件和密碼登錄</small>
                                </p>
                                <p><small>or</small></p>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="w-100 btn btn-primary">使用google帳號登入</button>
                                <button type="submit" class="w-100 btn btn-primary">使用Facebook帳號登入</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>

    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>