<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="container my-12">

        <div class="row">
            <div class="col-lg-4 mb-6 mb-lg-0">
                <div class="nav flex-column nav-pills me-3 profile-control text-nowrap" id="v-pills-tab">
                    <button class=" text-start nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-personal-info" type="button">會員資料</button>
                    <button class="text-start nav-link" id="v-order-page" data-bs-toggle="pill" data-bs-target="#v-order" type="button">訂單查詢</button>
                    <button class="text-start nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-order-history" type="button" >歷史訂單</button>
                    <button class="text-start nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-reset-password" type="button" >重設密碼</button>
                    <button class="text-center nav-link d-none d-lg-block" type="button" >登出</button>
                </div>


            </div>
            <div class="col-lg-8">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade active show border p-3" id="v-personal-info">
                    <form class="row personal-info">
                        <h4>會員資料</h4>
                        <div class="col-md-12">
                        <label for="usarName" class="form-label"></label>
                        <input type="text" class="outline-0 form-control" id="usarName" required placeholder="使用者名稱">
                        </div>
                        <div class="col-md-12">
                            <label for="inputEmail4" class="form-label"></label>
                            <input type="email" class="outline-0 form-control" id="inputEmail4" required placeholder="Email">
                        </div>
                        <div class="col-12">
                        <label for="tel" class="form-label"></label>
                        <input type="tel" class="outline-0 form-control" id="tel" placeholder="電話" required>
                        </div>
                        <h3 class="col-12 mt-5">地址</h3>
                        <div class="col-12 d-lg-flex d-block justify-content-between">
                            <div>
                                <label for="City" class="form-label"></label>
                                <select id="City" class="form-select" required>
                                <option selected>城市...</option>
                                <option>台北市</option>
                                <option>桃園市</option>
                                <option>新竹市</option>
                                <option>苗栗市</option>
                                <option>高雄市</option>
                                </select>
                            </div>
                            <div>
                                <label for="Religion" class="form-label"></label>
                                <select id="Religion" class="form-select" required>
                                <option selected>地區...</option>
                                <option>永和區</option>
                                </select>
                            </div>
                            <div>
                                <label for="inputZip" class="form-label"></label>
                                <input type="text" class="outline-0 form-control" id="inputZip" placeholder="郵寄區號" required>
                            </div>
                        </div>
                        <div class="col-12">
                        <label for="inputAddress" class="form-label"></label>
                        <input type="text" class="outline-0 form-control" id="inputAddress" placeholder="街道名稱">
                        </div>
                        <div class="col-12 text-lg-end text-center mt-10">
                            <button type="submit" class="btn btn-primary ">更新個人資料</button>
                        </div>

                    </form>
                  </div>

                  <div class="tab-pane fade order show" id="v-order" >
                    <div class="row g-4">
                        <div class="col-lg-4">
                            <select class="form-select form-select-sm">
                                <option selected>2024</option>
                                <option value="2">2023</option>
                                <option value="3">2022</option>
                              </select>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-select form-select-sm">
                                <option value="Mon" selected>選擇月份</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-select form-select-sm">
                                <option selected>選擇日期</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                        </div>
                        <div class="col-lg-8 position-relative">
                            <input class="w-100 h-100 outline-0" type="search" placeholder="產品編號or名稱">
                            <i class="bi bi-search-heart"></i>
                        </div>
                        <div class="col-lg-4 text-end">
                            <button type="button" class="btn btn-primary btn-sm ">查詢</button>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex justify-content-between mt-6">
                            <p>訂單編號：xxx</p>
                            <time datetime="" >日期：07/08/2024</time>
                        </div>

                        <div>
                            <div class="row rounded-5 border overflow-hidden p-5">
                                <div class="col-8 lh-lg">
                                    <p>產品名稱: xx黑色洋裝 * 1</p>
                                    <p>配送方式: 郵寄</p>
                                    <p>付款方式: 信用卡</p>
                                    <p>訂單金額: NT 2000$</p>
                                    <p>收件資訊: xx市xx區xx路x號x樓</p>
                                    <div>
                                        <a href="javascrip:;" type="button" class="btn btn-sm btn-secondary d-lg-inline-block d-none">聯絡我們</a>
                                        <a href="order-address.html" type="button" class="btn btn-sm btn-secondary mb-5 mb-lg-0">更改送貨地址</a>
                                    </div>
                                </div>
                                <div class="col-4 text-end overflow-scroll" style="height: 200px;">
                                    <img class="mb-1" src="https://fakeimg.pl/200x200/">
                                    <img class="mb-1" src="https://fakeimg.pl/200x200/">
                                    
                                </div>
                                <div class="col-12 d-flex justify-content-between profile-order-progress mt-6">
                                    <div class="active">接受訂單</div>
                                    <div>撿貨</div>
                                    <div>出貨</div>
                                    <div>已送達</div>
                                </div>
                            </div>

                        </div>
                    </div>
                  </div>


                  <div class="tab-pane fade show" id="v-order-history">
                    <div>
                        <div class="d-flex justify-content-between">
                            <p>訂單編號：xxx</p>
                            <time datetime="" >日期：07/08/2024</time>
                        </div>
                        <div class="row rounded-5 border overflow-hidden p-5">
                            <div class="col-8 lh-lg">
                                <p>產品名稱: xx黑色洋裝 * 1</p>
                                <p>配送方式: 郵寄</p>
                                <p>付款方式: 信用卡</p>
                                <p>訂單金額: NT 2000$</p>
                                <p>收件資訊: xx市xx區xx路x號x樓</p>
                                <a href="comment.html" type="button" class="btn btn-sm btn-secondary">評論</a>
                                <a href="return.html" type="button" class="btn btn-sm btn-secondary">退貨</a>
                            </div>
                            <div class="col-4 text-end overflow-scroll" style="height: 200px;">
                                <img class="mb-1" src="https://fakeimg.pl/200x200/">
                                <img class="mb-1" src="https://fakeimg.pl/200x200/">
                            </div>
                            <div class="col-12 d-flex justify-content-between profile-order-progress mt-6">
                                <div class="disabled">接受訂單</div>
                                <div class="disabled">撿貨</div>
                                <div class="disabled">出貨</div>
                                <div class="active">已送達</div>

                            </div>

                        </div>
                        
                    </div>


                  </div>
                  <div class="tab-pane fade" id="v-reset-password">
                    
                    <div>
                        <h4>重設密碼</h4>
                        <form action="" class="v-reset-password">
                            <div>
                                <label for="email" class="form-label"></label>
                                <input type="email" class="outline-0 form-control" id="email" required placeholder="Email">
                            </div>
                            <div>
                                <label for="oldPassword" class="form-label"></label>
                                <input type="password" class="outline-0 form-control" id="oldPassword" required placeholder="舊密碼">
                            </div>
                            <div>
                                <label for="newPassword" class="form-label"></label>
                                <input type="password" class="outline-0 form-control" id="newPassword" required placeholder="新密碼">
                            </div>
                        </form>
                        <div class="text-end mt-6">
                            <button type="submit" class="btn btn-primary" >送出</button>
                        </div>
                    </div>




                  </div>
                </div>
            </div>
          </div>
    </div>



    

      <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>
</html>