<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>造型師個人檔案</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="sytlistProfile container">
        <div class="stylist_info ">
            <img src="" alt="">
            <div>
                <h1>Brian<span>造型總監</span></h1>
                <ul class="">
                    <li>大膽創新</li>
                    <li>前衛</li>
                    <li>國際獎項</li>
                </ul>
                <p>以大膽創新的設計理念而聞名,擁有超過20年的時尚造型經驗。曾經獲得多個國際設計獎項,包括「2023年度造型師獎」。擅長將前衛的設計元素融入實穿的服裝中,他的作品經常被時尚界的權威刊物所推崇。</p>
                <button>
                    立即預約
                </button>
            </div>
        </div>
        <div class="stylist_project">
            <h2>Project</h2>
            <h2>造型作品</h2>
            <div>
                <img src="../assets/images/stylist/brian_project_1.jfif" alt="">
                <img src="../assets/images/stylist/brian_project_2.jfif" alt="">
                <img src="../assets/images/stylist/brian_project_3.jfif" alt="">
            </div>
        </div>
        <div class="stylise_review">
            <ul>
                <li>
                    <div>
                        <div>
                    
                        </div>
                        <div></div>
                    </div>
                    <p></p>
                </li>
                <li></li>
                <li></li>
            </ul>

        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>